@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default to light theme for admin content area */
  color-scheme: light dark;
}

body {
  @apply bg-admin-content-bg text-gray-900 overflow-x-hidden dark:bg-deep-space dark:text-white;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded hover:bg-gray-400 transition-colors;
}
